.quillWrapper
  div(ref="quillContainer" :id="id")
  input(type="button" value="1" name="button A")
  //- <div class="quillWrapper">
  //-   <div ref="quillContainer" :id="id"></div>
  //-   <input v-if="useCustomImageHandler" @change="emitImageInfo($event)" ref="fileInput" id="file-upload" type="file" style="display:none;">
  //- </div>
