<!DOCTYPE html>
<html>
<head>
  <title>Welcome to Vue</title>
  <script src="https://unpkg.com/vue"></script>
</head>
<body>
  <div id="app">
    <my-component content="aaa"></my-component>
    <my-component content="bbb"></my-component>
  </div>

  <script>
    let MyComponent = {
      template: '<div><input type="text" v-model="message" /><input type="text" v-model="message" /></div>',
      props: ['content'],
      data() {
        return {
          message: this.content
        }
      },
      methods: {
      }
    }

    let Child = {
      template: '<p v-on:click="sendEvent">Child{{ val }}</p>',
      props: ['val'],
      methods: {
        sendEvent(){
          this.$emit('childs-event')
        }
      }
    }

    let Parent = {
      template: '<div><p>Parent</p><p><child val="1" v-on:childs-event="acceptEvent"></child><child val="2"></child></p></div>',
      components: {
        'child': Child
      },
      methods: {
        acceptEvent() {
          alert('accept!!')
        }
      }
    }

    var app = new Vue({
      el: '#app',
      components: {
        'my-component': MyComponent,
        'parent': Parent
      }
    })
  </script>
</body>
</html>
